{% extends 'base.html' %} {% block content %}
<div
    class="hero min-h-[93vh]"
    style="
        background-image: url(https://media.istockphoto.com/id/914788014/photo/businessman-using-tablet-and-set-up-network-connection-with-shield-guard-to-protected-from.jpg?b=1&s=612x612&w=0&k=20&c=3eCC74-Is7mJVf4UMdFwrLkCWqHPPnPO5DGJHR1HL_o=);
    "
>
    <div class="hero-overlay bg-opacity-80"></div>
    <div class="hero-content text-center text-neutral-content">
        <div class="max-w-md">
            <form
                action="/signup/"
                method="POST"
                class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100"
            >
                {% csrf_token %}
                <div class="p-4">
                    <h1
                        class="text-3xl font-bold text-center card-title text-slate-500 justify-center"
                    >
                        User Registration Form
                    </h1>
                </div>
                <div class="divider"></div>
                <div class="card-body">
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Your Name:</span>
                        </label>
                        <input
                            type="text"
                            placeholder="Enter Your Name"
                            name="name"
                            class="input input-bordered text-slate-700"
                        />
                    </div>
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Email:</span>
                        </label>
                        <input
                            type="email"
                            placeholder="Enter Your Email"
                            name="email"
                            class="input input-bordered text-slate-700"
                        />
                    </div>
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Password:</span>
                        </label>
                        <input
                            type="text"
                            placeholder="Enter Your Password"
                            name="password"
                            class="input input-bordered text-slate-700"
                        />
                        <label class="label">
                            <a href="#" class="label-text-alt link link-hover"
                                >Forgot password?</a
                            >
                        </label>
                    </div>
                    <div class="form-control mt-6">
                        <button class="btn btn-primary">Registration Confirm</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
